$primary-color: rgb(47, 93, 98);
$secondary-color: rgb(94, 139, 126);
$tertiary-color: rgb(223, 238, 234);
$quaternary-color: rgb(167, 196, 188);

$primary-font: "Syne", sans-serif;
$secondary-font: "Inter", sans-serif;

%primary-flex {
    display: flex;
    flex-wrap: wrap;
}

%default-icon-properties {
    font-size: 50px;
    padding: 20px;
}

%primary-section-padding {
    margin: 5vw;
    padding: 10vw 5vw;
}

%fixed-elements {
    position: fixed;
    width: 100%;
    left: 0;
    background-color: $secondary-color;
    color: $tertiary-color;
    font-family: $secondary-font;
}

%hover-properties {
    text-decoration: underline;
}

%section-text-color {
    color: $primary-color;
}
