@import "themes";

.contact {
    @extend %fixed-elements;

    padding-top: 20px;
    padding-bottom: 5vh;
    bottom: 0;
    // padding: 20px, 0, 10vh, 0;

    &__icon-wrapper {
        @extend %primary-flex;
        justify-content: space-around;
    }

    &__icon {
        @extend %default-icon-properties;
        color: $tertiary-color;
    }
    &__email-img {
        width: 50px;
        height: 50px;
        padding: 0px 20px;
    }
}
