@import "themes";

.contact {
    @extend %fixed-elements;

    bottom: 35px;
    padding-top: 20px;
    background-color: $secondary-color;
    font-family: $secondary-font;

    &__icon-wrapper {
        @extend %primary-flex;
        justify-content: space-evenly;
    }

    &__link-wrapper {
        @extend %primary-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // color: $primary-color;
    }

    &__link {
        text-decoration: none;

        //     &:visited {
        //         text-decoration: none !important;
        //     }
    }

    &__link-text {
        text-align: center;
        margin: 5px 0px;
    }
    &__icon {
        @extend %default-icon-properties;
        color: $tertiary-color;
    }
    &__email-img {
        width: 35px;
        height: 35px;
    }
}
