@import "breakpoints";

@mixin secondary-section-padding($vertical, $horizontal) {
    padding: $vertical $horizontal;
    margin: 5vw;
    align-items: center;
    height: 100%;
}

@mixin primary-section-padding($vertical, $horizontal) {
    padding: $vertical $horizontal;
    margin: 5vw;
}

@mixin phone {
    @media only screen and (max-width: $sm) {
        @content;
    }
}

@mixin laptop-screen-and-larger {
    @media only screen and (min-width: ($lg+1px)) {
        @content;
    }
}
