@import "themes";

.navbar {
    @extend %fixed-elements;
    display: flex;
    top: 0;
    justify-content: space-between;
    align-items: center;

    &__list {
        @extend %primary-flex;

        list-style-type: none;
        justify-content: right;
    }

    &__list-item {
        padding: 2vw 5vw;
        font-weight: bold;
    }

    &__link {
        color: $tertiary-color;
        text-decoration: none;

        &:visited {
            color: $tertiary-color;
        }

        &:hover {
            @extend %hover-properties;
        }
    }

    &__img {
        width: 30px;
        height: 30px;
        padding: 2vw 5vw;
    }
}
