@import "themes";

.navbar {
    @extend %fixed-elements;
    // @extend %primary-flex;
    display: flex;
    top: 0;
    justify-content: space-between;
    align-items: center;
    background-color: $secondary-color;
    font-family: $secondary-font;

    &__list {
        @extend %primary-flex;
        // display: flex;
        list-style-type: none;
        justify-content: right;
        padding-left: 0px;
    }

    &__list-item {
        padding: 2vw 5vw;
        font-weight: bold;
    }

    &__link {
        text-decoration: none;
        color: $tertiary-color;
        padding: 2px 10px;

        &:visited {
            color: $tertiary-color;
        }
    }

    &__img {
        // position: fixed;
        width: 30px;
        height: 30px;
        padding: 2vw 5vw;
    }
}
