@use "mixins";

@import "themes";
@import "breakpoints";

.projects {
    @media only screen and (max-width: $sm) {
        @include mixins.secondary-section-padding(25vw, 5vw);
    }

    @media only screen and (min-width: ($sm+1px)) and (max-width: $md) {
        @include mixins.secondary-section-padding(20vw, 10vw);
    }

    @media only screen and (min-width: ($md+1px)) and (max-width: $lg) {
        @include mixins.secondary-section-padding(15vw, 10vw);
        height: 100vh;
    }

    @media only screen and (min-width: ($lg+1px)) {
        @include mixins.secondary-section-padding(10vw, 10vw);
    }
    @extend %section-text-color;

    &__main-heading {
        text-align: right;
        font-family: $primary-font;
        padding: 25px;
    }

    &__wrapper {
        @extend %primary-flex;
        flex-direction: column;
    }

    &__container {
        @include mixins.phone {
            flex-direction: column;
        }
        display: flex;
        margin: 3%;
    }
    &__text {
        padding: 3%;
    }

    &__description {
        padding: 2% 0%;
        font-family: $secondary-font;
        text-align: justify;
    }

    &__sub-heading {
        font-family: $primary-font;
    }

    &__img-link {
        margin: 10px;
    }
    &__img {
        @include mixins.phone {
            width: 50vw;
            height: 50vw;
        }
        width: 20vw;
        height: 20vw;
        border: 1px solid $tertiary-color;
        border-radius: 10%;
        &:hover {
            box-shadow: 10px 10px $quaternary-color;
        }
    }

    &__icon {
        @extend %default-icon-properties;
        color: $primary-color;

        &:hover {
            @extend %hover-properties;
        }
    }
}
