@use "mixins";

@import "themes";
@import "breakpoints";

.skills {
    // @extend %secondary-section-padding;

    @media only screen and (max-width: $sm) {
        @include mixins.secondary-section-padding(25vw, 5vw);
    }

    @media only screen and (min-width: ($sm+1px)) and (max-width: $md) {
        @include mixins.secondary-section-padding(20vw, 10vw);
    }

    @media only screen and (min-width: ($md+1px)) and (max-width: $lg) {
        @include mixins.secondary-section-padding(15vw, 10vw);
        height: 100vh;
    }

    @media only screen and (min-width: ($lg+1px)) {
        @include mixins.secondary-section-padding(10vw, 10vw);
    }

    color: $primary-color;
    display: flex;
    align-items: center;
    justify-content: center;

    &__main-heading {
        padding: 25px;
        font-family: $primary-font;
    }

    &__icon-wrapper {
        @extend %primary-flex;
        justify-content: space-around;
        margin: auto;
        padding-top: 20px;
    }
    &__icon {
        font-size: 50px;
        padding: 50px;
    }
}
