@use "navbar";
@use "projects";
@use "contact";

@import "themes";

* {
    padding: 0;
    margin: 0;
}
body {
    background-color: $tertiary-color;
}
// main {
//     background-color: $tertiary-color;
// }
.home {
    @extend %section-padding;
    color: $primary-color;
    display: flex;
    align-items: center;
}

.about {
    @extend %section-padding;
    color: $primary-color;
    display: flex;
    align-items: center;

    &__text-wrapper {
        text-align: right;
    }
}
.skills {
    @extend %section-padding;
    color: $primary-color;
    display: flex;
    align-items: center;
    justify-content: center;

    &__main-heading {
        padding: 25px;
    }

    &__icon-wrapper {
        @extend %primary-flex;
        justify-content: space-around;
        margin: auto;
        padding-top: 20px;
    }
    &__icon {
        @extend %default-icon-properties;
        // color: $primary-color;
    }
}

.copywright {
    @extend %fixed-elements;
    // @extend %primary-flex;
    // justify-content: center;
    // align-items: center;
    background-color: $secondary-color;
    text-align: center;
    // font-weight: bold;
    bottom: 0;
    padding: 10px 0px;

    &__para {
        color: $tertiary-color;
        height: 18px;
    }
}
