.navbar__list {
  display: flex;
  flex-wrap: wrap;
}

.navbar {
  position: fixed;
  width: 100%;
  left: 0;
  background-color: rgb(94, 139, 126);
  color: rgb(223, 238, 234);
  font-family: "Syne", sans-serif;
}

.navbar__link:hover {
  text-decoration: underline;
}

.navbar {
  display: flex;
  top: 0;
  justify-content: space-between;
  align-items: center;
}
.navbar__list {
  list-style-type: none;
  justify-content: right;
}
@media only screen and (max-width: 620px) {
  .navbar__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.navbar__list-item {
  padding: 2vw 5vw;
  font-size: 20px;
}
.navbar__link {
  color: rgb(223, 238, 234);
  text-decoration: none;
}
.navbar__link:visited {
  color: rgb(223, 238, 234);
}
.navbar__img {
  width: 50px;
  height: 50px;
  padding: 2vw 5vw;
}

.home {
  margin: 5vw;
  padding: 10vw 5vw;
}

.home {
  color: rgb(47, 93, 98);
}

.home {
  font-family: "Syne", sans-serif;
  display: flex;
  align-items: center;
  height: 80vh;
}
.home__main-heading {
  margin-bottom: 30px;
  font-size: 50px;
}
@media only screen and (min-width: 993px) {
  .home__main-heading {
    font-size: 75px;
  }
}

.about {
  margin: 5vw;
  padding: 10vw 5vw;
}

.about {
  color: rgb(47, 93, 98);
}

.about {
  display: flex;
  align-items: center;
  height: 70vh;
}
@media only screen and (max-width: 576px) {
  .about {
    padding: 30vw 5vw;
    height: 100%;
  }
}
.about__wrapper {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 576px) {
  .about__wrapper {
    flex-direction: column;
  }
}
.about__text-wrapper {
  text-align: right;
  padding: 10%;
}
.about__img {
  width: 20vw;
  height: 20vw;
  padding: 5vw;
  border: 1px solid rgb(167, 196, 188);
  border-radius: 50%;
  background-color: rgb(167, 196, 188);
}
@media only screen and (max-width: 576px) {
  .about__img {
    width: 45vw;
    height: 45vw;
  }
}
.about__main-heading {
  font-family: "Syne", sans-serif;
}
.about__para {
  font-family: "Inter", sans-serif;
  text-align: justify;
  padding: 20px 0px;
}

.skills__icon-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.skills {
  color: rgb(47, 93, 98);
}

.skills {
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 576px) {
  .skills {
    padding: 25vw 5vw;
    margin: 5vw;
    align-items: center;
    height: 100%;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .skills {
    padding: 20vw 10vw;
    margin: 5vw;
    align-items: center;
    height: 100%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .skills {
    padding: 15vw 10vw;
    margin: 5vw;
    align-items: center;
    height: 100%;
  }
}
@media only screen and (min-width: 993px) {
  .skills {
    padding: 11vw 10vw;
    margin: 5vw;
    align-items: center;
    height: 100%;
    justify-content: flex-start;
  }
}
.skills__main-heading {
  padding: 25px;
  font-family: "Syne", sans-serif;
}
.skills__icon-wrapper {
  justify-content: space-around;
  margin: auto;
  padding-top: 20px;
}
.skills__icon {
  font-size: 50px;
  padding: 50px;
}
@media only screen and (max-width: 576px) {
  .skills__icon {
    padding: 5vw;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .skills__icon {
    padding: 5vw;
  }
}

.projects__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.projects__icon {
  font-size: 50px;
  padding: 20px;
}

.projects {
  color: rgb(47, 93, 98);
}

@media only screen and (max-width: 576px) {
  .projects {
    padding: 25vw 5vw;
    margin: 5vw;
    align-items: center;
    height: 100%;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .projects {
    padding: 20vw 10vw;
    margin: 5vw;
    align-items: center;
    height: 100%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .projects {
    padding: 15vw 10vw;
    margin: 5vw;
    align-items: center;
    height: 100%;
  }
}
@media only screen and (min-width: 993px) {
  .projects {
    padding: 10vw 10vw;
    margin: 5vw;
    align-items: center;
    height: 100%;
  }
}
.projects__main-heading {
  text-align: right;
  font-family: "Syne", sans-serif;
  padding: 25px;
}
.projects__wrapper {
  flex-direction: column;
}
.projects__container {
  display: flex;
  margin: 5%;
}
@media only screen and (max-width: 576px) {
  .projects__container {
    flex-direction: column;
    margin: 10%;
  }
}
@media only screen and (max-width: 576px) {
  .projects__container:nth-of-type(even) {
    flex-direction: column-reverse;
  }
}
.projects__text {
  padding: 3%;
}
.projects__description {
  padding: 2% 0%;
  font-family: "Inter", sans-serif;
  text-align: justify;
}
.projects__sub-heading {
  font-family: "Syne", sans-serif;
}
.projects__img-link {
  margin: 10px;
}
.projects__img {
  width: 20vw;
  height: 20vw;
  border: 1px solid rgb(223, 238, 234);
  border-radius: 10%;
}
@media only screen and (max-width: 576px) {
  .projects__img {
    width: 50vw;
    height: 50vw;
  }
}
.projects__img:hover {
  box-shadow: 10px 10px rgb(167, 196, 188);
}
.projects__icon {
  color: rgb(47, 93, 98);
}
.projects__icon:hover {
  color: rgb(94, 139, 126);
}

.contact__icon-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.contact__icon {
  font-size: 50px;
  padding: 20px;
}

.contact {
  position: fixed;
  width: 100%;
  left: 0;
  background-color: rgb(94, 139, 126);
  color: rgb(223, 238, 234);
  font-family: "Syne", sans-serif;
}

.contact {
  padding-top: 20px;
  padding-bottom: 5vh;
  bottom: 0;
}
.contact__link {
  text-decoration: none;
}
.contact__icon-wrapper {
  justify-content: space-around;
}
.contact__icon {
  color: rgb(223, 238, 234);
}
.contact__email-img {
  width: 50px;
  height: 50px;
  padding: 0px 20px;
}

.copywright {
  position: fixed;
  width: 100%;
  left: 0;
  background-color: rgb(94, 139, 126);
  color: rgb(223, 238, 234);
  font-family: "Syne", sans-serif;
}

.copywright {
  text-align: center;
  bottom: 0;
  padding: 10px 0px;
  font-size: x-small;
  height: 2vh;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(223, 238, 234);
}
